* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 450px;
  width: 340px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.card h1 {
  font-size: 50px;
  font-weight: 700;
  padding: 5px;
}

.card h5 {
  color: red;
  font-size: 40px;
  font-weight: 600;
  padding: 5px;
}

.btn-container button {
  height: 40%;
  width: 40%;
  text-align: center;
  background-color: lightseagreen;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: white;
}

.btn-container #remove {
  background-color: rgb(218, 218, 218);
  color: black;
}
button:hover {
  cursor: pointer;
}

#add:hover {
  background-color: rgb(10, 156, 151);
}

button:active {
  scale: 0.95;
}
